.serviceCardArea
{
    /* border: 2px solid black; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.serviceCardBackGround
{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
.aboutStartImgAndHead.visible
{
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s ease-out;
}