.mainAboute
{
    /* border: 2px solid red; */
    height: fit-content;
    margin-top: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainAbouteContentMain
{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contentDiv1
{
    /* border: 2px solid black; */
    width: 49%;
    position: relative;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s ease-out;
}
.contentDiv1.visible
{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease-out;
}
.contentDiv1 img
{
 position: absolute;
}
.contentDiv2
{
    /* border: 2px solid black; */
    width: 50%;
    /* height: 520px; */
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s ease-out;
}
.contentDiv2.visible
{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease-out;
}
#Image1
{
    z-index: 4;
    left: 10em;
}
#Image2
{
    z-index: 5;
    top: 10em;
    left: 24em;
}
#Image3
{
    top: 5em;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
#Image4
{
    /* z-index: 100; */
    left: 34em;
    top: 9.5em;
    animation: leftRight 2.5s linear infinite alternate;
}
#Image5
{
    left: 35em;
    top: 2em;
    animation: UpDown 2s linear infinite alternate;
}

@keyframes UpDown {
    0%{transform: translateY(0);}
    100%{transform: translateY(-10%);}
}

@keyframes leftRight {
    0%{transform: translateX(0);}
    100%{transform: translateX(-70%);}
}
.abouteIcon
{
    margin-right: 0.5em;
}
.headAboute
{
    font-size: 1.5em;
}
.abouteDesc p
{
    font-size: 1.3em;
}
.tickDivMain
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.tickDiv
{
    width: fit-content;
    padding: 2em;
}
.tickDivIcon
{
    padding: 0.5em;
    color: #3c72fc;
}
.contentDiv2 button
{
    background: linear-gradient(90deg, #3c72fc -10.59%, #00060c 300.59%);;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    margin: 1em 1em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.contentDiv2 button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* New background color */
    transform: scaleX(0);
    color: white;
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  
  .contentDiv2 button:hover::before {
    transform: scaleX(1);
  }
  
  .contentDiv2 button span {
    position: relative;
    z-index: 1;
   }
.btnIcon
{
  padding-left: 5px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.contentDiv2 button:hover .btnIcon{
  transform: translateX(30%);
  transition: transform 0.3s ease-in-out; /* Optional for smooth transition */
}

@media (min-width:576px) {
    .mainAbouteContentMain
    {
        flex-direction: column; 
         width: 100%;
    }
    .contentDiv1
    {
        /* border: 2px solid black;  */
         height: 510px;
        width: 576px;
    }
    .contentDiv2
    {
        width: 100vw;
    }
    #Image1
    {
        z-index: 4;
        left: 7em;
    }
    #Image2
    {
        z-index: 5;
        top: 10em;
        left: 18em;
    }
    #Image4
    {
        left: 31em;
    }
}
@media (min-width: 992px) {
    .mainAbouteContentMain
    {
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 1200px) {
    .mainAbouteContentMain
    {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .contentDiv2
    {
        width: 50%;
    }
}