/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width:100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0; /* Remove any borders to avoid unexpected width issues */
}

body {
  background-color: #F3F7FB;
  /* border: 2px solid black; */
}

.cursor {
  display: block;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
