
  
  .full-container-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .Main-div {
    /* text-align: center; */
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
  }
  .leaderHeadWithIcon
  {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s ease-out;
  }
  .leaderHeadWithIcon.visible
  {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease-out;
  }
  .Main-div h1 {
    text-align: center;
  }
  
  .first-card, .second-card, .third-card {
    position: relative;
    /* border: 1px solid #ddd; */
   
    overflow: hidden;
    margin: 3em;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    width: 300px; 
  }
  .leftLeaderCard
  {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s ease-out;
  }
  .leftLeaderCard.visible
  {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease-out;
  }
  .rightLeaderCard
  {
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s ease-out;
  }
  .rightLeaderCard.visible
  {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease-out;
  }
  .full-container-image img 
  {
    width: 100%;
    height: auto;
  }
  
  .Mini-div {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #3c72fc -10.59%, #00060c 300.59%);
    color: white;
    padding: 20px;
  }
  .Mini-div h3
  {
    height: 0.2em;
  }
  .Mini-div p
  {
    height: 0.2em;
  }
  
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  transition: height 0.5s ease-in-out;
  pointer-events: none;
}

.card:hover::before {
  height: 100%;
}

@media (min-width:576px) {
  .Mini-div h3
  {
    height: 1em;
  }
  .Mini-div p
  {
    height: 1em;
  }
}